<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.deenma.chef">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name="com.apps.deenma.chef.activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.apps.deenma.chef.activities.StepsActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.TipsActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.TakePictureIActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.TakePictureIIActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.TakePictureIIIActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.InformationActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.apps.deenma.chef.activities.ImageViewActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.MakeAgreementActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.AgreementActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.JudgementSendingActivity"></activity>
        <activity android:name="com.apps.deenma.chef.activities.FileClaimActivity"></activity>
    </application>
</manifest>